# all files with .out extension
*.out
MP-1/myshell
*.o
MP-1/trial.c
MP-1/trial.txt
MP-1/trial_dir/
MP-1/newfile.txt
*.asm
*.d
*.sym
MP-2/initial-xv6/src/fs.img
MP-2/initial-xv6/src/kernel/kernel
MP-2/initial-xv6/src/mkfs/mkfs
MP-2/initial-xv6/src/user/usys.S
MP-2/initial-xv6/src/user/_cat
MP-2/initial-xv6/src/user/_echo
MP-2/initial-xv6/src/user/_forktest
MP-2/initial-xv6/src/user/_grep
MP-2/initial-xv6/src/user/_grind
MP-2/initial-xv6/src/user/_init
MP-2/initial-xv6/src/user/_kill
MP-2/initial-xv6/src/user/_ln
MP-2/initial-xv6/src/user/_ls
MP-2/initial-xv6/src/user/_mkdir
MP-2/initial-xv6/src/user/_rm
MP-2/initial-xv6/src/user/_schedulertest
MP-2/initial-xv6/src/user/_sh
MP-2/initial-xv6/src/user/_stressfs
MP-2/initial-xv6/src/user/_syscount
MP-2/initial-xv6/src/user/_usertests
MP-2/initial-xv6/src/user/_wc
MP-2/initial-xv6/src/user/_zombie
MP-2/initial-xv6/src/user/initcode
